__pycache__
.DS_Store
overlapData.py
overlapData.dat 
allOverlap.dat
2,3_xyResults
3,4_xyResults
3,5_xyResults
3,6_xyResults
4,4_xyResults
4,5_xyResults
data.dat
.vscode/
3,4_xyResults.dat
3,4_xyResults_New_Isotopy
3,4_xyResults_New_Isotopy_After_Constraints
3,4_xyResults_New_Isotopy_FullGame
3,4_xyResults_New_Isotopy_FullGame_Filtered
3,5_xyResults_New_Isotopy_FullGame_Filtered
3,6_xyResults_New_Isotopy_FullGame_Filtered
4,4_xyResults_New_Isotopy_FullGame_Filtered
4,5_xyResults_New_Isotopy_After_Constraints
4,5_xyResults_New_Isotopy_After_Constraints_and_Filtered
4,5_xyResults_New_Isotopy_FullGame_Filtered

